= render "page" do
  .wrapper#header.default
    .container
      .row
        .span12
          %ul
            %a{:href => "/about/"}
              %li about
            %a{:href => "/design/"}
              %li design
            %a{:href => "/"}
              %img#logo{:src => "/images/logo.png"}
              %li
            %a{:href => "/blog/"}
              %li blog
            %a{:href => 'mailto:jennifer.friedmann@gmail.com', :target => '_blank'}
              %li contact


  .wrapper#page
    =yield
    
    .container#quote
      .row.center
        %h4"The enemy of art is the absence of limitations." - O. Wells 